

.main_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    height: auto;
}

.cadastro-estoque-container,
.cadastro-material-container,
.cadastro-fornecedor-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
    font-family: 'Montserrat', Roboto, sans-serif;
    color: #6b6a6a;
}

.cadastro-estoque-container {
    margin-top: 50px;
    margin-left: 200px;
}

.linha-divisoria {
    width: 5px;
    background-color: #ccc;
    height: 800px;
    align-self: stretch; /* Makes the line span the height of its container */
}

.cadastro-outros-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 200px;
    margin-top: 50px;
}

.cadastro-estoque-container h2,
.cadastro-material-container h2,
.cadastro-fornecedor-container h2 {
    margin-bottom: 20px;
    color: #e20814;
    font-weight: bold;
}

.cadastro-estoque-container .form-group,
.cadastro-material-container .form-group,
.cadastro-fornecedor-container .form-group {
    margin-bottom: 20px;
}

.cadastro-estoque-container label,
.cadastro-material-container label,
.cadastro-fornecedor-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.cadastro-estoque-container select,
.cadastro-estoque-container input,
.cadastro-material-container input,
.cadastro-fornecedor-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cadastro-estoque-container button,
.cadastro-material-container button,
.cadastro-fornecedor-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e20814;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.cadastro-estoque-container button:hover,
.cadastro-material-container button:hover,
.cadastro-fornecedor-container button:hover {
    background-color: #c30710;
}
